.application-table {
    width: 100%;
    border-collapse: collapse;
}

.application-table th, .application-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.application-table button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9rem;
    margin-left: 30%;
}

.application-table button:hover {
    background-color: #0056b3;
}


.application-table .btn-appeal {
    background-color: red;
    margin-left: 10px; /* Ajusta este valor según tus necesidades */
    margin-left: 30%;
}

.application-table .btn-appeal:hover {
    background-color: darkred; /* O cualquier otro color para el hover */


}