.login-form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form h2 {
  font-size: 2.5rem; /* Tamaño del título */
  color: #333; /* Color de texto para el título */
  margin-bottom: 1rem;
}

.login-form p {
  font-size: 1.5rem; /* Tamaño del texto de bienvenida */
  color: #666; /* Color de texto para el párrafo de bienvenida */
  margin-bottom: 2rem;
}

.login-form label {
  font-size: 1.2rem; /* Tamaño del texto de las etiquetas */
  color: #333; /* Color de texto para las etiquetas */
  margin-bottom: 0.5rem;
}

.login-form input {
  padding: 0.75rem;
  margin-bottom: 1rem; /* Espacio entre los campos de entrada */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.login-form button {
  padding: 0.75rem;
  background-color: #ffd700; /* Color de fondo para el botón */
  color: #333; /* Color de texto para el botón */
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold; /* Negrita para el texto del botón */
  margin-top: 1rem;
  transition: background-color 0.2s;
}

.login-form button:hover {
  background-color: #f1c40f; /* Color al pasar el cursor */
}

.login-form .forgot-password {
  font-size: 0.9rem; /* Tamaño del texto para "¿Olvidaste tu contraseña?" */
  color: #007bff; /* Color de texto para el enlace */
  text-align: center;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem; /* Espacio antes del botón */
}

.login-form .forgot-password:hover {
  text-decoration: underline;
}
