/* ReviewList.css */

.review-list {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; /* Contorno más oscuro */
}


.review-item {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 5px solid #dfdfdf; /* Contorno más oscuro */
    border-radius: 8px;
}

.review-item:last-child {
    border-bottom: none;
}

.review-title {
    color: #0056b3; /* Azul */
    margin-bottom: 5px;
}

.review-applicant,
.review-subsidy,
.review-socialPercentage,
.review-applicationDate,
.review-members,
.review-comments,
.review-status,
.review-origin {
    color: #333333;
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-left: 10px;
}

.edit-button {
    background-color: #ffc107; /* Amarillo */
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #e0a800; /* Amarillo oscuro */
}

